$bgColor: #d5d5e5;
$navbarColor: #757575;
$navbarItemColor: #606060;
$navbarItemBorder: #505050;
$homeButtonColor: #3a8d3a;
$homeButtonBorder: #1b701b;


body {
	background-color: $bgColor;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}


.heading {
	font-family: 'Noto Serif Display', serif;
	margin-left: 8px;
}

#navbarContainer {
	background-color: $navbarColor;
}

#navbar {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.navbarItem {
	border: 5px solid $navbarItemBorder;
	margin-right: 0.25rem;
	background-color: $navbarItemColor;
	padding: 0.375rem 0.5rem;
}

.navbarItemHome {
	background-color: $homeButtonColor;
	border: 5px solid $homeButtonBorder;
}

.navbarLink {
	color: #aad5e6;
	text-decoration: none;
}
p {
	margin-left: 8px;
}

a.link {
	// Generic Link
	color: #aad5e6;
	text-decoration: underline;
}

.grid {
	display: block;
}

@media (min-width: 1500) { // Otherwise it gets calustrophobic in there
	.grid-cols-1 {
		display: flex;
		justify-content: space-between;
	}
	.grid-cols-2 {
		display: flex;
		justify-content: space-between;
	}
	
	.grid-cols-3 {
		display: flex;
		justify-content: space-between;
	}
	.grid-cols-1 .col {
		width: 100%;
	}

	.grid-cols-2 .col {
		width: 50%;
	}

	.grid-cols-3 .col {
		width: 32%;
	}
}
@media (max-width: 1500) {
	.grid-cols-1 {
		display: block;
	}
	.grid-cols-2 {
		display: block;
	}
	
	.grid-cols-3 {
		display: block;
	}
	.grid-cols-1 .col {
		width: 100%;
	}
	.grid-cols-2 .col {
		width: 100%;
	}

	.grid-cols-3 .col {
		width: 100%;
	}
}
.codeBorder {
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1rem 3rem;
	border: 5px solid gray;
	border-radius: 10px;
}


.nodisplay {
	display: none
}
