body {
    font-size: 25px;
    background-color: #32353B;
    color: white;
    text-align: left;
    display: inline;
}

.nav {
    text-align: center;
}

img {
    display: inline;
}

a {
    color: lightblue;
}

iframe {
    float: left;
    padding-right: 35px;
}

textboxid
{
    height:200px;
    font-size:14pt;
}

td {
vertical-align: top;
text-align: left;
}

rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  width: 20px;
  height: 15px;
}


textarea::placeholder {
  color: #000;
  font-size: 20px;  
}

textarea {
  font-size: 20px;
}

input::placeholder {
   color: #000;
   font-size: 20px;
}

input::text {
   color: #000;
   font-size: 20px;
}
